.home{
    background-image: url(fondo.jpg);
    width: 1200px;
    height: 500px;
}
.datosp{
    color: #ffffff;
    text-decoration: blink;
    font: small-caption;
    font-size: 50px;
}
.estudio{
    color: #ffffff;
    text-decoration: blink;
    font: small-caption;
    font-size: 50px;
    padding-left: 250px;
}
.Experiencias{
    color: #ffffff;
    text-decoration: blink;
    font: small-caption;
    font-size: 50px;
    padding-left: 500px;
}
.Sobremi{
    color: #ffffff;
    text-decoration: blink;
    font: small-caption;
    font-size: 50px;
    padding-left: 750px;
}
