.home{
    background-image: url(fondo.jpg);
    width: 1200px;
    height: 500px;
}
.enlaces{
  width: 1200px;
  height: 500px;
}
.estudio{
    color: #ffffff;
    text-decoration: blink;
    font: small-caption;
    font-size: 35px;
    padding-left: 0px;
}
.Experiencias{
    color: #ffffff;
    text-decoration: blink;
    font: small-caption;
    font-size: 35px;
    padding-left: 100px;
}
.Sobremi{
    color: #ffffff;
    text-decoration: blink;
    font: small-caption;
    font-size: 35px;
    padding-left: 100px;
}
